<body class="backBox">

     <div class="main pb-5 pt-5" >
        <div class="container p-4  position" style=" max-width:800px;max-height:auto; margin:100px auto;">
            <div class="row border p-4 bg-light shadow" style="box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; border-radius: 20px;" >
                <div class="col-md-6 p-4 col-12 order-md-1  order-2 ">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group w-100 ">
                            <label for="useremail">Email address </label>
                            <input type="email" formControlName="email"
                                [class.is-invalid]="email.invalid && email.touched" class="form-control shadow input-sm"
                                id="useremail" placeholder="Enter Email" name="email">
    
                            <!-- <small *ngIf="invalidEmail" class="text-danger">Invalid Email Please Register</small> -->
    
                            <div *ngIf="email.invalid && email.touched && email.errors" class="text-danger pl-1">
                                <small *ngIf="email.errors.required" >Email Required</small>
                                <small *ngIf="email.errors.email">Enter Valid email</small>
    
                            </div>
                        </div>

                        <div class="form-group w-100">
                            <label for="userPassword">Password</label>
                            <input type="password" [class.is-invalid]="password.invalid && password.touched" class="form-control shadow" formControlName="password" id="userPassword" placeholder="Password">
                            <div class="text-danger" *ngIf="password.invalid && password.touched">
                                <small *ngIf="passowrd.errors.required">password is required</small>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
                        <button routerLink="/register" class="btn btn-success ml-md-2 pt-sm-1 ml-1 mt-md-0 mt-0">Register</button>
    
                    </form>
                </div>
                <div class="shadow col-md-6  col-12 order-md-2 order-1 backup d-flex align-items-end" style="border-radius: 25px;">
                    <p class="text-light font-weight-bolder" style="font-size: 30px;">Hello <br> Welcome <br> Back</p>
                </div>
            </div>
        </div>
    </div> 
    
</body>

